<%- layout("/layouts/bolierplate.ejs") %>
<body>
    <div class="row col-8 col-lg-6 col-md-6 col-sm-6 offset-2">
        <div class="alert alert-danger col-12 mt-4  error-info"  role="alert">
            <h4><%= message %></h4>
          </div> 
    </div>
   
</body>
